<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Details</title>
    <style>
        .container2 img{
            {{!-- background-color: azure; --}}
            display: block;
            
        }
        .class1 h1{
            font-family: 'Times New Roman', Times, serif;
            font-size: medium;
            color: hwb(0 6% 93%);
        }
    </style>
</head>
<body>
   

    <section class="Blog_section py-4">
        <h1>Blog Detail</h1>
    <h2>What makes Mahakal Cooling Tower a market leader in Cooling Towers from Local to Global.</h2>
    <div class="container2 " >
        <img src="/images/pic4.jpg" style="width: 300px;">
        
    </div>
    <div class="class1">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quibusdam explicabo hic eum, tempora laudantium amet voluptatibus dignissimos distinctio dolores! Iste voluptatem laborum exercitationem architecto error accusamus. Assumenda ut rerum deserunt perspiciatis, expedita aliquam maxime magni quidem? Dolor repellat, quisquam porro fuga amet animi et inventore architecto, quam deleniti, perferendis modi laudantium voluptatibus mollitia asperiores officia! Beatae quia quis voluptates corporis voluptatum! <br><br><br> Ipsam dolore exercitationem id, corporis veritatis suscipit harum expedita quos neque quis impedit veniam fugiat at nemo est hic ratione perspiciatis dicta nesciunt? Nesciunt recusandae aliquid eius? Quod ab aperiam reprehenderit amet suscipit voluptatum molestiae tenetur quas laborum quasi, nobis error culpa repudiandae unde quis ea! Aut, doloribus quibusdam iusto cumque rerum quasi molestias perferendis libero odit nesciunt earum perspiciatis facere quis. Doloremque non vitae dignissimos enim voluptatem?</h1>
    </div>
    </section>
   

</body>
</html>