<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   
    <title>Section2</title>
    <style>
        h1 {
           
            color: white;
            padding: 30px;
        }

        .container1 {
            margin: 0px;
            background-color: #343a40!important;
            height: 110px;
            width: 100%;
            max-width:1920px ;

        }
      /* {{!-- button{
        margin-bottom: 5px;
           background-color: white;
           color: black;
           padding: 5px;
           border-radius: 2px solid white;
           grid-row-end: 40px;
        } --}}
         */
    </style>
</head>

<body>
    <div class="container1">

        <h1 style="font-size: medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatem repudiandae corporis numquam dicta quaerat labore impedit molestiae expedita excepturi distinctio cumque quam repellat consequatur cum, nihil culpa, doloribus, blanditiis sequi? Voluptatibus pariatur veniam nam.</h1>
        
        {{!-- <button type="submit">Enquiry Now</button> --}}
        
    </div>
</body>

</html>