<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahakal Cooling Tower</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <%-include('navbar.ejs')-%>
    <%-include('slider.ejs')-%> 
    
    <section class="banner1_section py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6  mt-5">
                    <h3 style="text-align:center">ABOUT US</h3>
                    <h2 style="margin-top: 29px;">OVER 20+ YEARS OF TRUST AND EXCELLENCE</h2>
                    <p style="margin-top:68px;font-size:x-large">Established in the Year of 2002, Mahakal Cooling Towers
                        is the leading Manufacturer, Wholesaler,
                        and
                        Trader of Cooling Towers and Cooling Tower parts.
                    </p>
                    <h4 style="margin-top:90px">Omkar Panchal<br><br>

                        DIRECTOR & CEO
                    </h4>
                    <img src="/images/Omkar Panchal.png" style="margin-top:26px">
                </div>
                <div class="col-md-6 text-center py-4">
                    <img src="/images/Frame 47.png">


                    <img src="/images/Frame 48.png" style="display: flex;margin-top:22px;margin-left:153px">

                    <img src="/images/Frame 49.png" style="margin-top:23px;margin-left:15px">

                </div>
            </div>
        </div>



    </section>

    <div class="container3 text-center">
        <h3 class="mt-3">Meet Our Team</h3>
        <div class="row mt-5">
            <div class="col-md-4">
 
                <img src="../images/rajesh 4.png">
                <h5>John David</h5>
                <p>Owner</p>
            </div>
            <div class="col-md-4">
                <img src="../images/rajesh 6.png">
                <h5>Abraham</h5>
                <p>Manager</p>
            </div>
            <div class="col-md-4">

                <img src="../images/rajesh 5.png">
                <h5>Adward</h5>
                <p>Technical</p>
            </div>
        </div>
    </div>

    <div class="footer mb-2">
        <!-- Footer -->
        <footer class="text-center text-lg-start bg-light text-muted">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
                <div class="me-5 d-none d-lg-block">
                    <span>Get connected with us on social networks:</span>
                </div>
                <!-- Left -->

                <!-- Right -->
                <div>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <!-- Right -->
            </section>
            <!-- Section: Social media -->

            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h4 class="text-uppercase fw-bold mb-4">
                                <img src="../images/logo.png">
                            </h4>
                            <p>
                                220 Kilash Kuti Talawali Chanda A.B Road,Indore
                            </p><br>
                            <p>98260-76474</p>
                            <p>81031-07600</p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Support
                            </h6>
                            <p>
                                <a href="#!" class="text-reset">Parts</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Product</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Project</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Contact Us</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Career</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                About Us
                            </h6>
                            <p>
                                <a href="#!" class="text-reset">About Us</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">R&D Development</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Blogs</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Gallery</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">Follow US</h6>


                            <i class="fa-brands fa-facebook" ></i> Like US on Facebook
                            </p>

                            <p>
                                <i class="fa-brands fa-instagram"></i>

                                Like US on Instagram
                            </p>
                            <p><i class="fa-brands fa-twitter"></i>
                                Follow on Twitter</p>
                            <p><i class="fa-brands fa-linkedin"></i>Follow on Linkedin</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2023 Copyright:
                <a class="text-reset fw-bold" href="/">Mahakal Cooler Tower</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>


</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>