<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
           
            <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
    </div>
</div>
</div>
<script>
    const logout = document.getElementById("logout");
            logout.addEventListener("click", async(e)=>{
            e.preventDefault();
   
           try {
   
              const data=   await fetch("/logoutget",{
              method:"get",
              headers:{
               "content-type":"application/json"
             },        
              }).then(async(response)=>{
   
           let data = await response.json();    
   
            if(data.status === 200){
             window.location.href="/"
               localStorage.clear();
   
           }else if (data.status === 400){
              window.alert("bad request");
              }
   
            })
            } catch (error) {
                       window.location.href="/admin"
           }
   
   // console.log("logout")
      
         })
   
   
   </script>