<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <script>
        const isauth = localStorage.getItem("token");
        if (!isauth) {
              window.location.href = "/";
        }
    </script>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" style="background-color:#FFFF;color:black;border-right: 2px solid black; background-image: linear-gradient(180deg,#FFFF,#FFFF 100%); font-family:'Roboto',sans-serif;
        
        font-weight: 300;
        font-size: 15px;" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
                style="border-bottom: 2px solid #172340; color: black;" href="./admin">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa-solid fa-circle-user"></i>
                </div>
                <div class="sidebar-brand-text mx-3" style="font-size: 20px;">Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0 mt-3" style="border-top: 1px solid black;border-bottom: 1px solid black">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="./admin">
                    <i class="fa-solid fa-house" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Dashboard</span></a>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider" style="border-top:2px solid black">

            <!-- Heading -->
            <div class="sidebar-heading" style="margin-top:50px;font-family:'Roboto',sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color:#393E46">
                Addons
            </div>
            <li class="nav-item mt-3 ">
                <a class="nav-link" href="./contactus-page">
                    <i class="fa-solid fa-address-book mr-1" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Contact Us</span>
                </a>
                <a class="nav-link" href="./project-page">
                    <img src="/images/nuclear-power.ico" style="width:20px;">
                    <span style="font-weight: 400;font-size:18px;color:black">Project</span>
                </a>

                <a class="nav-link" href="./enquiry-page">
                    <i class="fa-solid fa-comment mr-1" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Enquiries</span>
                </a>
                <!-- <a class="nav-link" href="./slider-page">
                    <i class="fa-solid fa-sliders mr-1" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Sliders</span>
                </a> -->
                <a class="nav-link" href="./Blogdetails-page">
                    <i class="fa-solid fa-blog mr-1" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Blogs</span>
                </a>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsethree"
                    aria-expanded="true" aria-controls="collapsethree">
                    <i class="fa-solid fa-image mr-1" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Product</span>
                </a>
                <div id="collapsethree" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                    <div class="bg-white py-1 collapse-inner rounded">
                        <a class="collapse-item" style="font-weight: 400;font-size:15px;color:black"
                            href="./product">Products</a>
                        <a class="collapse-item" style="font-weight: 400;font-size:15px;color:black"
                            href="./product1">FAN Blade</a>
                        <a class="collapse-item" style="font-weight: 400;font-size:15px;color:black"
                            href="./product2">Wooden Cooling</a>
                        <a class="collapse-item" style="font-weight: 400;font-size:15px;color:black"
                            href="./product3">Gear Box</a>
                        <a class="collapse-item" style="font-weight: 400;font-size:15px;color:black"
                            href="./product4">FRP Fan</a>
                        <a class="collapse-item" style="font-weight: 400;font-size:15px;color:black"
                            href="./product5">RCC Cooling Tower</a>
                    </div>
                </div>
                <a class="nav-link" href="./video-page">
                    <i class="fa-solid fa-video mr-1" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Video</span>
                </a>
                <a class="nav-link" href="./career-page">
                    <i class="fa-solid fa-users-rectangle mr-1" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Career</span>
                </a>
                <a class="nav-link" href="./news">
                    <i class="fa-solid fa-newspaper" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">News</span>
                </a>
                <a class="nav-link" href="./apply-page">
                    <i class="fa-solid fa-envelope" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Apply</span>
                </a>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <i class="fa-solid fa-image mr-1" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Gallery</span>
                </a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                    <div class="bg-white py-1 collapse-inner rounded">
                        <a class="collapse-item" style="font-weight: 400; font-size: 15px; color: black" href="./gallery">All</a>
                        <a class="collapse-item" style="font-weight: 400; font-size: 15px; color: black" href="./parts">Parts</a>
                        <a class="collapse-item" style="font-weight: 400; font-size: 15px; color: black" href="./gallery1">Project</a>
                        <a class="collapse-item" style="font-weight: 400; font-size: 15px; color: black" href="./gallery2">Product
                       </a>
                        <a class="collapse-item" style="font-weight: 400; font-size: 15px; color: black" href="./gallery3">Cooling Tower</a>
                    </div>
                </div>
                <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog" style="color:black"></i>
                    <span style="color:black;font-weight: 400;font-size:18px">CMS</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" style="font-weight: 400;font-size:18px"
                            href="./privacypolicies">Privacy Policy</a>
                        <a class="collapse-item" style="font-weight: 400;font-size:18px" href="./Terms_of_Use">Terms Of
                            Use</a>
                    </div>
                </div> -->
            </li>


            <!-- Divider -->
       <hr class="sidebar-divider d-none d-md-block" style="border-top: 3px solid black">
            <!-- <div class="dropdown-divider"></div> -->

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle" style="background-color: black;"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="background-color:#f6f9ff">
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand  topbar mb-4 static-top shadow"
                    style="background-color:#FFFF; border-bottom: 2px solid black;">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                  
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <!-- <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div> -->
                        </li>





                        <div class="topbar-divider d-none d-sm-block" style="border-right:2px solid black"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="./profile1" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline small" style="font-family: 'Montserrat';font-weight: 500;
                                font-size: 20px;color:black">Omkar Panchal</span>
                                <img class="img-profile rounded-circle" src="/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="./profile1">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- Main Content -->
                <div class="col-lg-10">

                    <div class="dashboard-content-area m-lg-4">


                        <!-- <h1> Bootstrap Datatable </h1> -->
                        <div class="row" style="width:124%;">
                            <div class="col-12">
                                <div class="card"
                                    style="background:#f6f9ff;border-top:2px solid black;border-bottom:2px solid black;border-left:2px solid black;border-right:2px solid black">
                                    <div class="card-body">
                                        <div style="margin-top: 27px;" class="table-responsive">
                                            <div id="blogTable_wrapper"
                                                class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                                <section>
                                                    <div class="container py-5">
                                                        <div class="row">
                                                            <div class="col">
                                                                <nav aria-label="breadcrumb"
                                                                    class="bg-light rounded-3 p-3 mb-4">
                                                                    <ol class="breadcrumb mb-0 ">
                                                                        <li class="breadcrumb-item "><a href="./admin"
                                                                                style="text-decoration: none;color: gray;">Home</a>
                                                                        </li>

                                                                        <li class="breadcrumb-item active"
                                                                            aria-current="page">User Profile</li>
                                                                    </ol>
                                                                </nav>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="card mb-4">
                                                                    <div class="card-body text-center">
                                                                        <img src="/images/ower.jpg" alt="avatar"
                                                                            class="rounded-circle img-fluid"
                                                                            style="width: 150px;">
                                                                        <h5 class="my-3">Omkar Panchal</h5>
                                                                        <p class="text-muted mb-1">DIRECTOR & CEO
                                                                        </p>
                                                                        <p class="text-muted mb-4">Indore Madhya Pradesh
                                                                        </p>

                                                                    </div>
                                                                </div>
                                                                <div class="card mb-4 mb-lg-0">
                                                                    <div class="card-body p-0">
                                                                        <ul
                                                                            class="list-group list-group-flush rounded-3">
                                                                            <li
                                                                                class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                                                <i
                                                                                    class="fas fa-globe fa-lg text-warning"></i>
                                                                                <!-- <p class="mb-0">https://mahakalcoolingtowers.com</p> -->
                                                                                <a class="mb-0 text-muted"
                                                                                    style="text-decoration: none;"
                                                                                    href="https://mahakalcoolingtowers.com">https://mahakalcoolingtowers.com</a>
                                                                            </li>

                                                                            <li
                                                                                class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                                                <i class="fab fa-twitter fa-lg"
                                                                                    style="color: #55acee;"></i>
                                                                                <a class="mb-0 text-muted"
                                                                                    style="text-decoration: none;"
                                                                                    href="https://twitter.com/mahakaltower">https://twitter.com/mahakaltower</a>
                                                                                <!-- <p class="mb-0 text-muted" style="text-decoration: none;">https://twitter.com/mahakaltower</p> -->
                                                                            </li>


                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="card mb-4">
                                                                    <div class="card-body">
                                                                        <div class="row">
                                                                            <div class="col-sm-3">
                                                                                <p class="mb-0">Full Name</p>
                                                                            </div>
                                                                            <div class="col-sm-9">
                                                                                <p class="text-muted mb-0">Omkar Panchal
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                        <hr>
                                                                        <div class="row">
                                                                            <div class="col-sm-3">
                                                                                <p class="mb-0">Email</p>
                                                                            </div>
                                                                            <div class="col-sm-9">
                                                                                <p class="text-muted mb-0">
                                                                                    example@example.com</p>
                                                                            </div>
                                                                        </div>
                                                                        <hr>
                                                                        <div class="row">
                                                                            <div class="col-sm-3">
                                                                                <p class="mb-0">Phone</p>
                                                                            </div>
                                                                            <div class="col-sm-9">
                                                                                <p class="text-muted mb-0">(097)
                                                                                    234-5678</p>
                                                                            </div>
                                                                        </div>
                                                                        <hr>
                                                                        <div class="row">
                                                                            <div class="col-sm-3">
                                                                                <p class="mb-0">Mobile</p>
                                                                            </div>
                                                                            <div class="col-sm-9">
                                                                                <p class="text-muted mb-0">(098)
                                                                                    765-4321</p>
                                                                            </div>
                                                                        </div>
                                                                        <hr>
                                                                        <div class="row">
                                                                            <div class="col-sm-3">
                                                                                <p class="mb-0">Address</p>
                                                                            </div>
                                                                            <div class="col-sm-9">
                                                                                <p class="text-muted mb-0">Indore Madhya
                                                                                    Pradesh</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
















































                <!-- End of Content Wrapper -->
            </div>
            <footer class="footer  flex-md-row align-items-center px-4 py-3" style="border-top: 1px solid #172340">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto" style="font-size: medium;"> Copyright &copy;
                        <strong> <span>Mahakal Cooling Tower 2023</span></strong>
                        .All Right Reserved

                    </div>
                </div>
            </footer>
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" id="logout" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const logout = document.getElementById("logout");
            logout.addEventListener("click", async (e) => {
                e.preventDefault();

                try {

                    const data = await fetch("/logoutget", {
                        method: "get",
                        headers: {
                            "content-type": "application/json"
                        },
                    }).then(async (response) => {

                        let data = await response.json();

                        if (data.status === 200) {
                            window.location.href = "/"
                            localStorage.clear();

                        } else if (data.status === 400) {
                            window.alert("bad request");
                        }

                    })
                } catch (error) {
                    window.location.href = "/admin"
                }

                // console.log("logout")

            })


        </script>

        <!-- Bootstrap core JavaScript-->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <!-- <script src="/vendor/chart.js/Chart.min.js"></script> -->

        <!-- Page level custom scripts -->
        <!-- <script src="js/demo/chart-area-demo.js"></script>
        <script src="js/demo/chart-pie-demo.js"></script> -->

        <!-- Vendor JS Files -->
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
        <!-- <script src="/vendor/apexcharts/apexcharts.min.js"></script> -->
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/chart.js/chart.umd.js"></script>
        <script src="/vendor/echarts/echarts.min.js"></script>
        <script src="/vendor/quill/quill.min.js"></script>
        <script src="/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="/vendor/tinymce/tinymce.min.js"></script>
        <script src="/vendor/php-email-form/validate.js"></script>
        <!-- <script src="assets/vendor/datatable/chart.umd.js"></script> -->
        <script src="/vendor/chart.js/chart.umd.js"></script>
        <script src="js/bootstrap.min.css.map"></script>
        <script src="/vendor/datatable/datatable-basic.init.js"></script>
        <!-- Template Main JS File -->
        <!-- <script src="js/main.js"></script> -->
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


</body>

</html>