<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" style="background-color:#FFFF;color:black;border-right: 2px solid black; background-image: linear-gradient(180deg,#FFFF,#FFFF 100%); font-family:'Roboto',sans-serif;
        
        font-weight: 300;
        font-size: 15px;" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
                style="border-bottom: 2px solid #172340; color: black;" href="./admin">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa-solid fa-circle-user"></i>
                </div>
                <div class="sidebar-brand-text mx-3" style="font-size: 20px;">Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0 mt-3" style="border-top: 1px solid black;border-bottom: 1px solid black">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="./admin">
                    <i class="fa-solid fa-house" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Dashboard</span></a>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider" style="border-top:2px solid black">

            <!-- Heading -->
            <div class="sidebar-heading" style="margin-top:50px;font-family:'Roboto',sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color:#393E46">
                Addons
            </div>
            <li class="nav-item mt-3 ">
                <a class="nav-link" href="./contactus-page">
                    <i class="fa-solid fa-address-book mr-1" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Contact Us</span>
                </a>
                <a class="nav-link" href="./project-page">
                    <img src="/images/nuclear-power.ico" style="width:20px;">
                    <span style="font-weight: 400;font-size:18px;color:black">Project</span>
                </a>

                <a class="nav-link" href="./enquiry-page">
                    <i class="fa-solid fa-comment mr-1" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Enquiries</span>
                </a>
                <!-- <a class="nav-link" href="./slider-page">
                    <i class="fa-solid fa-sliders mr-1" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Sliders</span>
                </a> -->
                <a class="nav-link" href="./Blogdetails-page">
                    <i class="fa-solid fa-blog mr-1" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Blogs</span>
                </a>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree">
                    <i class="fa-solid fa-image mr-1" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Product</span>
                </a>
                <div id="collapsethree" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                    <div class="bg-white py-1 collapse-inner rounded">
                        <a class="collapse-item"  style="font-weight: 400;font-size:15px;color:black"  href="./product">Products</a>
                        <a class="collapse-item"  style="font-weight: 400;font-size:15px;color:black"  href="./product1">FAN Blade</a>
                        <a class="collapse-item"  style="font-weight: 400;font-size:15px;color:black"  href="./product2">Wooden Cooling</a>
                        <a class="collapse-item"  style="font-weight: 400;font-size:15px;color:black"  href="./product3">Gear Box</a>
                        <a class="collapse-item"  style="font-weight: 400;font-size:15px;color:black" href="./product4">FRP Fan</a>
                        <a class="collapse-item"  style="font-weight: 400;font-size:15px;color:black" href="./product5">RCC Cooling Tower</a>
                    </div>
                </div>
                <!-- <a class="nav-link" href="#">
                    <i class="fa-solid fa-video mr-1" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Video</span>
                </a> -->
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-users-rectangle mr-1" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Career</span>
                </a>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fa-solid fa-image mr-1" style="color:black"></i>
                    <span style="font-weight: 400;font-size:18px;color:black">Gallery</span>
                </a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                    <div class="bg-white py-1 collapse-inner rounded">
                        <a class="collapse-item"  style="font-weight: 400;font-size:15px;color:black"  href="./gallery">All</a>
                        <a class="collapse-item"  style="font-weight: 400;font-size:15px;color:black"  href="./parts">Parts</a>
                        <a class="collapse-item"  style="font-weight: 400;font-size:15px;color:black"  href="./gallery1">Cooling Tower Fan</a>
                        <a class="collapse-item"  style="font-weight: 400;font-size:15px;color:black" href="./gallery2">FRP Cooling Tower Fan</a>
                        <a class="collapse-item"  style="font-weight: 400;font-size:15px;color:black" href="./gallery3">FRP Fan stack</a>
                    </div>
                </div>
                <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog" style="color:black"></i>
                    <span style="color:black;font-weight: 400;font-size:18px">CMS</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" style="font-weight: 400;font-size:18px"
                            href="./privacypolicies">Privacy Policy</a>
                        <a class="collapse-item" style="font-weight: 400;font-size:18px" href="./Terms_of_Use">Terms Of
                            Use</a>
                    </div>
                </div> -->
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block" style="border-top: 2px solid black">
            <!-- <div class="dropdown-divider"></div> -->

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle" style="background-color: black;"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="background-color:#f6f9ff">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand  topbar mb-4 static-top shadow"
                    style="background-color:#FFFF; border-bottom: 2px solid black;">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>



                        <div class="topbar-divider d-none d-sm-block" style="border-right:2px solid black"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline small" style="font-family: 'Montserrat';font-weight: 500;
                                font-size: 20px;color:black">Omkar Panchal</span>
                                <img class="img-profile rounded-circle" src="/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="./profile1">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <main id="main" class="main">

                        <div class="pagetitle">
                            <h1>Profile</h1>
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item" style="text-decoration: none;"><a href="./admin">Home</a></li>
                                    <li class="breadcrumb-item">Users</li>
                                    <li class="breadcrumb-item active">Profile</li>
                                </ol>
                            </nav>
                        </div><!-- End Page Title -->

                        <section class="section profile">
                            <div class="row">
                                <div class="col-xl-4">

                                    <div class="card">
                                        <div class="card-body profile-card pt-3 d-flex flex-column align-items-center">

                                            <img alt="Profile" class="rounded-circle profileImge" style="width: 25%;">
                                            <h2  style="font-size:large;margin-top: 12px;">Mahakal Cooling Tower</h2>


                                        </div>
                                    </div>

                                </div>

                                <div class="col-xl-8">

                                    <div class="card">
                                        <div class="card-body pt-3">
                                            <!-- Bordered Tabs -->
                                            <ul class="nav nav-tabs nav-tabs-bordered">

                                                <li class="nav-item">
                                                    <button class="nav-link active" data-bs-toggle="tab"
                                                        data-bs-target="#profile-overview">Overview</button>
                                                </li>

                                                <li class="nav-item">
                                                    <button class="nav-link" data-bs-toggle="tab"
                                                        data-bs-target="#profile-edit">Edit Profile</button>
                                                </li>

                                                <li class="nav-item">
                                                    <button class="nav-link" data-bs-toggle="tab"
                                                        data-bs-target="#profile-change-password">Change
                                                        Password</button>
                                                </li>

                                            </ul>
                                            <div class="tab-content pt-2">

                                                <div class="tab-pane fade show active profile-overview"
                                                    id="profile-overview">


                                                    <h5 class="card-title">Profile Details</h5>

                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-4 label">Full Name</div>
                                                        <div class="col-lg-9 col-md-8 fullName">Mahakal</div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-4 label">Email</div>
                                                        <div class="col-lg-9 col-md-8 emailId">mahakal.cooling@gmail.com
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                                    <div class="alert alert-success" role="alert"
                                                        id="updateProgileMessage" style="display: none;"></div>
                                                    <!-- Profile Edit Form -->
                                                    <form id="adminProfileUpdate" method="post"
                                                        enctype="multipart/form-data">
                                                        <input type="hidden" class="adminId" name="id">
                                                        <div class="row mb-3">
                                                            <label for="profileImage"
                                                                class="col-md-4 col-lg-3 col-form-label">Profile
                                                                Image</label>
                                                            <div class="col-md-8 col-lg-9">
                                                                <img alt="Profile" id="profileImge" class="profileImge">
                                                                <div class="pt-2">

                                                                    <label class="btn btn-primary btn-sm"
                                                                        title="Upload new profile image"><i
                                                                            class="bi bi-upload"
                                                                            style="color: rgb(255, 255, 255);"></i><input
                                                                            type="file" name="image"
                                                                            id="adminImage" /></label>
                                                                    <a href="javascript:void(0)"
                                                                        class="btn btn-danger btn-sm"
                                                                        title="Remove my profile image"><i
                                                                            class="bi bi-trash"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row mb-3">
                                                            <label for="fullName"
                                                                class="col-md-4 col-lg-3 col-form-label">First
                                                                Name</label>
                                                            <div class="col-md-8 col-lg-9">
                                                                <input name="firstname" type="text" class="form-control"
                                                                    id="firstName">
                                                                <div id="firstNameValid"
                                                                    style="display: none;color: red;">First Name is
                                                                    required.</div>
                                                            </div>

                                                        </div>
                                                        <div class="row mb-3">
                                                            <label for="fullName"
                                                                class="col-md-4 col-lg-3 col-form-label">Last
                                                                Name</label>
                                                            <div class="col-md-8 col-lg-9">
                                                                <input name="lastname" type="text" class="form-control"
                                                                    id="lastName">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label for="Email"
                                                                class="col-md-4 col-lg-3 col-form-label">Email</label>
                                                            <div class="col-md-8 col-lg-9">
                                                                <input name="email" type="email" class="form-control"
                                                                    id="myEmail" disabled>
                                                            </div>
                                                        </div>



                                                        <div class="text-center">
                                                            <button type="button" onclick="adminProfileUpdate()"
                                                                class="btn btn-primary">Save Changes</button>
                                                        </div>
                                                    </form><!-- End Profile Edit Form -->

                                                </div>



                                                <div class="tab-pane fade pt-3" id="profile-change-password">
                                                    <!-- Change Password Form -->
                                                    <div class="alert alert-success" role="alert" id="successMessage"
                                                        style="display: none;"></div>
                                                    <div class="alert alert-danger" role="alert" id="dangerMessage"
                                                        style="display: none;"> </div>
                                                    <form id="changePassword" method="post">
                                                        <input type="hidden" class="adminId" name="id" />
                                                        <div class="row mb-3">
                                                            <label for="currentPassword"
                                                                class="col-md-4 col-lg-3 col-form-label">Current
                                                                Password</label>
                                                            <div class="col-md-8 col-lg-9">
                                                                <input name="password" type="password"
                                                                    class="form-control" id="currentPassword">
                                                                <p class="error" id="currentPassError"></p>
                                                            </div>

                                                        </div>

                                                        <div class="row mb-3">
                                                            <label for="newPassword"
                                                                class="col-md-4 col-lg-3 col-form-label">New
                                                                Password</label>
                                                            <div class="col-md-8 col-lg-9">
                                                                <input name="newpassword" type="password"
                                                                    class="form-control" id="newPassword">
                                                                <p class="error" id="newPasswordvalid"></p>
                                                            </div>
                                                        </div>

                                                        <div class="row mb-3">
                                                            <label for="renewPassword"
                                                                class="col-md-4 col-lg-3 col-form-label">Re-enter New
                                                                Password</label>
                                                            <div class="col-md-8 col-lg-9">
                                                                <input name="renewpassword" type="password"
                                                                    class="form-control" id="renewPassword">
                                                                <p class="error" id="reNewPasswordValid"></p>
                                                            </div>
                                                        </div>

                                                        <div class="text-center">
                                                            <button type="submit" class="btn btn-primary">Change
                                                                Password</button>
                                                        </div>
                                                    </form><!-- End Change Password Form -->

                                                </div>

                                            </div><!-- End Bordered Tabs -->

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>

                    </main><!-- End #main -->

                </div>



                

            </div>
            <!-- End of Content Wrapper -->

            <footer class="footer  flex-md-row align-items-center px-4 py-3" style="border-top: 1px solid #172340">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto" style="font-size: medium;"> Copyright &copy;
                        <strong> <span>Mahakal Cooling Tower 2023</span></strong>
                        .All Right Reserved

                    </div>
                </div>
            </footer>
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <!-- <script src="/vendor/chart.js/Chart.min.js"></script> -->

        <!-- Page level custom scripts -->
        <!-- <script src="js/demo/chart-area-demo.js"></script>
        <script src="js/demo/chart-pie-demo.js"></script> -->

        <!-- Vendor JS Files -->
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
        <!-- <script src="/vendor/apexcharts/apexcharts.min.js"></script> -->
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/chart.js/chart.umd.js"></script>
        <script src="/vendor/echarts/echarts.min.js"></script>
        <script src="/vendor/quill/quill.min.js"></script>
        <script src="/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="/vendor/tinymce/tinymce.min.js"></script>
        <script src="/vendor/php-email-form/validate.js"></script>
        <!-- <script src="assets/vendor/datatable/chart.umd.js"></script> -->
        <script src="/vendor/chart.js/chart.umd.js"></script>
        <script src="js/bootstrap.min.css.map"></script>
        <script src="/vendor/datatable/datatable-basic.init.js"></script>
        <!-- Template Main JS File -->
        <!-- <script src="js/main.js"></script> -->
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
            var token = localStorage.getItem("loginToken");
            console.log("token", token);
            if (!token) {
                window.location.href = "./profile";
            }

            $("#currentPassword").keyup(function () {
                var cPassword = $("#currentPassword").val();
                var cPasswordlength = $.trim(cPassword).length;
                if (!cPassword || (cPasswordlength == 0)) {
                    $("#currentPassError").text('Current password field is required.');
                    error = true;
                } else if ((cPassword.length < 8)) {
                    $("#currentPassError").text("Password length must be atleast 8 characters");
                    error = true;
                } else {
                    $("#currentPassError").text('');
                    error = false;
                }
            });

            $("#newPassword").keyup(function () {
                var nPassword = $("#newPassword").val();
                var nPasswordlength = $.trim(nPassword).length;
                if (!nPassword || (nPasswordlength == 0)) {
                    $("#newPasswordvalid").text('New password field is required.');
                    error = true;
                } else if ((nPassword.length < 8)) {
                    $("#newPasswordvalid").text("Password length must be atleast 8 characters");
                    error = true;
                } else {
                    $("#newPasswordvalid").text('');
                    error = false;
                }
            });

            $("#renewPassword").keyup(function () {
                var reNewPassword = $("#renewPassword").val();
                var reNewPasswordlength = $.trim(reNewPassword).length;
                if (!reNewPassword || (reNewPasswordlength == 0)) {
                    $("#reNewPasswordValid").text('Re-new password field is required.');
                    error = true;
                } else if ((reNewPassword.length < 8)) {
                    $("#reNewPasswordValid").text("Password length must be atleast 8 characters");
                    error = true;
                } else {
                    $("#reNewPasswordValid").text('');
                    error = false;
                }
            });

            getAdminDetails();
            function getAdminDetails() {
                jQuery.support.cors = true;
                var url = "#";
                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (response) {
                        var res = JSON.parse(JSON.stringify(response));
                        var admin = res.data[0];
                        console.log(admin);
                        var fullname = admin.firstName + " " + admin.lastName;
                        $('.fullName').text(fullname ? fullname : "Admin")
                        $('.emailId').text(admin.email)

                        $('#firstName').val(admin.firstName ? admin.firstName : "Admin")
                        $('#lastName').val(admin.lastName)
                        $('#myEmail').val(admin.email)
                        $('.adminId').val(admin._id)

                        $('.profileImge').attr('src', admin.image)

                        $('#adminName').text(fullname ? fullname : "Admin")
                        $('#adminProfileImage').attr('src', admin.image)
                    },
                    error: function (err) {
                        var error = JSON.parse(err);

                        console.log(JSON.stringify(error));

                    },
                });
            }


            function logOut() {
                jQuery.support.cors = true;
                var url = "https://infosense.tech/admin/logout   ";
                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (response) {
                        console.log(response);
                        localStorage.clear()

                        var token = localStorage.getItem("loginToken");
                        console.log("token", token);
                        window.location.href = "index.html";
                    },
                    error: function (err) {
                        console.log(err);

                    },
                });
            }


            $('#adminImage').change(function () {
                readImgUrlAndPreview(this);

                function readImgUrlAndPreview(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#profileImge').attr('src', e.target.result);
                        }
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            });


            function adminProfileUpdate() {
                jQuery.support.cors = true;
                var id = $('.adminId').val();
                var firstName = $('#firstName').val();
                var lastName = $('#lastName').val();
                var image = $('#adminImage')[0].files[0];
                console.log(id + "==" + firstName + "==" + lastName);
                console.log("image", image);
                if (firstName.length === 0 || !(firstName)) {
                    $("#firstNameValid").show();
                    return
                } else {
                    $("#firstNameValid").hide();

                }

                let formData = new FormData();
                // formData.append("_id", id);
                formData.append("firstName", firstName);
                formData.append("lastName", lastName);
                formData.append('_method', 'PUT');
                if (image) {
                    formData.append("image", image, image.name);
                }
                // return  
                var url = "https://infosense.tech/admin/update/" + id;
                $.ajax({
                    url: url,
                    method: "PUT",
                    type: "PUT",
                    enctype: 'multipart/form-data',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        console.log(response);
                        $("#updateProgileMessage").show().text(response.message);
                        console.log(response);
                        $("#updateProgileMessage").fadeTo(2000, 500).slideUp(500, function () {
                            $("#updateProgileMessage").hide();
                        });
                        location.reload()
                    },
                    error: function (err) {
                        // var error = JSON.parse(err.responseText);

                        console.log(err);

                    },
                });
            }






            $("#changePassword").on("submit", function (e) {
                e.preventDefault();
                var cPassword = $("#currentPassword").val();
                var cPasswordlength = $.trim(cPassword).length;
                var nPassword = $("#newPassword").val();
                var nPasswordlength = $.trim(nPassword).length;
                var reNewPassword = $("#renewPassword").val();
                var reNewPasswordlength = $.trim(reNewPassword).length;


                if (!cPassword || (cPasswordlength == 0)) {
                    $("#currentPassError").text('Current password field is required.');
                    error = true;
                } else if ((cPassword.length < 8)) {
                    $("#currentPassError").text("Password length must be atleast 8 characters");
                    error = true;
                } else {
                    $("#currentPassError").text('');
                    error = false;
                }




                if (!nPassword || (nPasswordlength == 0)) {
                    $("#newPasswordvalid").text('New password field is required.');
                    error = true;
                } else if ((nPassword.length < 8)) {
                    $("#newPasswordvalid").text("Password length must be atleast 8 characters");
                    error = true;
                } else {
                    $("#newPasswordvalid").text('');
                    error = false;
                }




                if (!reNewPassword || (reNewPasswordlength == 0)) {
                    $("#reNewPasswordValid").text('Re-new password field is required.');
                    error = true;
                } else if ((reNewPassword.length < 8)) {
                    $("#reNewPasswordValid").text("Password length must be atleast 8 characters");
                    error = true;
                } else {
                    $("#reNewPasswordValid").text('');
                    error = false;
                }

                if (nPassword && reNewPassword) {
                    if (nPassword != reNewPassword) {
                        $("#reNewPasswordValid").text('New password and confirm password does not matched.');
                        error = true;
                    } else {
                        $("#reNewPasswordValid").text('');
                        error = false;
                    }
                }

                if (error == true) {
                    console.log("error=======", error);
                    return true;
                }
                console.log("error", error);

                jQuery.support.cors = true;
                var url = "#";
                var data = {};
                data._id = $(".adminId").val();
                data.oldPassword = $("#currentPassword").val();
                data.newPassword = $("#newPassword").val();
                data.confirmPassword = $("#renewPassword").val();

                $.ajax({
                    url: url,
                    type: "POST",
                    data: data,
                    crossDomain: true,
                    success: function (response) {
                        if (response.statusCode == 200) {
                            // $("#successMessage").show().text(response.message);
                            console.log(response);

                            toastr.success(response.message);
                            location.reload();

                        } else if (response.statusCode == 409) {
                            $("#dangerMessage").show().text(response.message);
                            console.log(response);
                            $("#dangerMessage").fadeTo(2000, 500).slideUp(500, function () {
                                $("#dangerMessage").hide();
                            });
                        }

                    },
                    error: function (err) {
                        var jso = JSON.parse(err.responseText);
                        var error = jso.message[0];
                        console.log("eeeeeeeeeeeeeeeeeee", error);
                        console.log("old", jso);
                        if (jso.status == "409") {
                            $('#currentPassError').text(jso.message)
                        }
                        // if (jso.status == "422") {
                        //   if (error.context.key == "oldPassword") {
                        //     console.log("old");
                        //     // $('#newPasswordvalid').hide()
                        //     // $('#reNewPasswordValid').hide()
                        //     $('#currentPassError').text(error.message)


                        //   } else if (error.context.key == "newPassword") {
                        //     console.log("new");
                        //     // $('#currentPassError').hide()
                        //     // $('#reNewPasswordValid').hide()
                        //     $('#newPasswordvalid').text(error.message)


                        //   } else if (error.context.key == "confirmPassword") {
                        //     console.log("confirm");
                        //     // $('#newPasswordvalid').hide()
                        //     // $('#currentPassError').hide()
                        //     $('#reNewPasswordValid').text(error.message)

                        //   }
                        // } else if (jso.status == "409") {
                        //   $('#currentPassError').text(jso.message)
                        // }


                    },
                });
            });
        </script>

</body>

</html>